/* Note: This example only works with Windows Insider Preview Builds 16237+ or the Fall Creators Update. */

body { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header header"
    "nav section aside"
    "footer footer footer";
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 15% 1fr 18%;
	grid-gap: 5px;
  height: 100vh;
  margin: 10px;  
}

.header {
	background: white;
	grid-area: header;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: rgb(36, 34, 34);
    display: block;
    height: 4px;
    position: relative;
    transition: background .3s ease-out;
    width: 20px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 6px;
  }
  
  .header .menu-icon .navicon:after {
    top: -6px;
  }
  
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 200px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-30deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(30deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  #login{
    text-align: center;
    margin-left: 30%; 
    margin-right: 30%;
    margin-top: 100px; 
    padding-top: 20px; 
    padding-bottom:30px;
    width: 40%; 
    height: auto; 
    position: absolute; 
    background: #b0bfe7; 
    z-index: 3; 
    visibility: hidden; 
    font-size: 30px;
    box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);
  }
  #register{
    text-align: center;
    margin-left: 30%; 
    margin-right: 30%;
    margin-top: 20px; 
    padding-top: 20px; 
    padding-bottom:30px;
    width: 40%; 
    height: auto; 
    position: absolute; 
    background: #b0bfe7; 
    z-index: 3; 
    visibility: hidden; 
    font-size: 30px;
    box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.75);

  }
  

nav {
	background: white;
	grid-area: nav; 
}

section {
	background: white;
	grid-area: section;    
}
.form {
    background:lightblue;
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius:5px;
    box-shadow:0 4px 10px 4px rgba(gray);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #33e839;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #62d768;
  }

aside {
	background: white;
	grid-area: aside; 
}

footer {
	background: white;
	grid-area: footer;
}

header, nav, section, aside, footer {
	padding: 5px;
}
